<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ghoniy.projectakhirpapbl">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Obat.ObatActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/WhiteActivityTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Obat.DetailObatActivity"
            android:parentActivityName=".Obat.ObatActivity"
            android:theme="@style/WhiteActivityTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Obat.ObatActivity" />
        </activity>
        <activity
            android:name=".Penyakit.SearchPenyakitActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/PurpleActivityTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Penyakit.PenyakitActivity"
            android:parentActivityName=".Penyakit.SearchPenyakitActivity"
            android:theme="@style/WhiteActivityTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Penyakit.SearchPenyakitActivity" />
        </activity>
    </application>

</manifest>